<%- include("partials/header.ejs") %>



<h1>About Us</h1>
<img class="profile" src="images/designer.png" alt="cat profile">
<p>Welcome to Fashion Fusion, where style meets innovation! Say goodbye to the dilemma of what to wear with our revolutionary outfit recommendation system. Our cutting-edge technology analyzes the contents of your closet and suggests trendy and cohesive outfits tailored to your unique taste and lifestyle. Whether you're preparing for a casual day out or a special event, Fashion Fusion has you covered. Save time, money, and the stress of decision-making by letting us seamlessly blend your existing wardrobe pieces into fashion-forward ensembles. Discover a new level of convenience and confidence in your style journey with Fashion Fusion. 
</p>
<br><br>
<br><br>

<%- include("partials/footer.ejs") %>