<%- include("partials/header.ejs") %>

<h1>Contact Us</h1>
<form>
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" />
</form>
<br><br>
<br><br>
<br><br>

<%- include("partials/footer.ejs") %>