<%- include("partials/header.ejs") %>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="styles/team.css" rel="stylesheet">



<div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <h3>Our Creative <span> Team</span></h3>
              <p>They are responsible for everything you see and experience related to Fashion Fusion.</p>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img src="images/sejal.png" height="300px" width="230px" alt="sejal">
                <!-- Social Info-->
                <div class="social-info"><a href="https://www.instagram.com/_sejal_kaur__?igsh=MWtzeWtqNnZscmdwYQ=="><i class="fa fa-instagram"></i></a><a href="https://x.com/SejalKaur16?t=HyaVeHN9SIvYuY7RNcO-ow&s=09"><i class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/in/sejal-kaur-5ab5a4256"><i class="fa fa-linkedin"></i></a></div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>Sejal Kaur</h6>
                <p class="designation">Frontend Developer</p>
              </div>
            </div>
          </div>
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img src="images/rajan.jpg" alt="rajan" height="300px" width="260px">
                <!-- Social Info-->
                <div class="social-info"><a href="https://www.instagram.com/_rajan_raj_?igsh=MzdraGN3bDU5OWZz"><i class="fa fa-instagram"></i></a><a href="https://twitter.com/rajanraj_2"><i class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/in/rajan-raj-824a4119a/"><i class="fa fa-linkedin"></i></a></div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>Rajan Raj</h6>
                <p class="designation">Backend Developer</p>
              </div>
            </div>
          </div>
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img src="images/himanshu.png" alt="himanshu" height="300px" width="250px">
                <!-- Social Info-->
                <div class="social-info"><a href="https://www.instagram.com/get1banks?igsh=aXZuNjQ3aTQxOWk5"><i class="fa fa-instagram"></i></a><a href="https://twitter.com/rajanraj_2"><i class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/in/himanshu-dahiya-261a51253"><i class="fa fa-linkedin"></i></a></div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>Himanshu Dahiya</h6>
                <p class="designation">AI/ ML Developer</p>
              </div>
            </div>
          </div>
          

<br><br>
<br><br>

<%- include("partials/footer.ejs") %>